@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    position:fixed;
    left: 0;
    top: 0;
    cursor: cell;
    box-shadow: 0 0 1px 8px black;
}

html {
    overscroll-behavior: none;
    user-select: none;
}

body {
    background-color: #121212;
    transition: background 0.3s linear;
    overscroll-behavior: none;
    user-select: none;
}


.loginWindow {
    width: 100vw;
    height: 100vh;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}