@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    overscroll-behavior: none;
}

body {
    margin: 0;
    overscroll-behavior: none;
}

pre, code {
    overflow: auto;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
}

#outputPane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: min(400px, 100%);
    overflow: hidden;
    background-color: rgb(14, 14, 14);
    /* resize: vertical; */ /* TODO */

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    color: white;
}

#generatedCode {
    height: 100%;
    background-color: rgb(31, 31, 31);
    margin: 0;
}

canvas {
    left: 0;
    top: 0;
    cursor: crosshair;
    height: 100%;
    aspect-ratio: 9 / 16;
}

#sprites-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: min(80%, max(50%, 300px));
}

#createmode, #publish {
    /* width: 36px;
    height: 36px; */
    /* background-repeat: no-repeat;
    background-position: 0;
    background-position-y: 0; */
    /* background-size: 100%; */
    background-color: rgba(0,0,0,0);
    border: none;
    opacity: 0.4;
    transition: opacity 0.2s;
    z-index: 999;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
    /* background-color: #f0f0f0; */
    flex-shrink: 1;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 0;
}

.btnContainer {
    flex: 1 1 auto;
    box-sizing: border-box;
}

#createmode {
    background-position-x: -7px;
    background-position-y: 53%;
    background-image: url('data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch --><title>sprite-library</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="sprite-library" fill="%23888888"><path d="M18.5,2.5 L19.25,2.5 C19.6642136,2.5 20,2.83578644 20,3.25 C20,3.66421356 19.6642136,4 19.25,4 L18.5,4 L18.5,4.75 C18.5,5.16421356 18.1642136,5.5 17.75,5.5 C17.3357864,5.5 17,5.16421356 17,4.75 L17,4 L16.25,4 C15.8357864,4 15.5,3.66421356 15.5,3.25 C15.5,2.83578644 15.8357864,2.5 16.25,2.5 L17,2.5 L17,1.75 C17,1.33578644 17.3357864,1 17.75,1 C18.1642136,1 18.5,1.33578644 18.5,1.75 L18.5,2.5 Z M15.9214311,12.3870691 C15.9214311,15.6404905 13.2729235,17 10.0195022,17 C6.767318,17 4.13241787,15.6404905 4.13241787,12.3870691 C4.13241787,11.5829915 4.26725548,10.9026183 4.52827141,10.3335788 L4.42930802,5.63281784 C4.4169376,5.11326006 4.99834749,4.81636989 5.41894188,5.12563048 L7.93013778,7.01830528 C8.51154766,6.70904469 9.22903221,6.57297003 10.0195022,6.57297003 C10.8124464,6.57297003 11.5423013,6.70904469 12.1237112,7.01830528 L14.6349071,5.12563048 C15.0431311,4.81636989 15.624541,5.11326006 15.624541,5.63281784 L15.5255776,10.3335788 C15.7853565,10.9026183 15.9214311,11.5829915 15.9214311,12.3870691 Z M12.5062047,14.4154474 C12.6806277,14.2311281 12.6546498,13.9330009 12.4579601,13.759815 C12.2724037,13.5989995 11.9742765,13.6237403 11.8023276,13.8229041 C11.6650159,13.9824826 11.4670892,14.0690756 11.256792,14.0690756 C10.8609384,14.0690756 10.526937,13.7474445 10.526937,13.3392206 L10.526937,12.6588473 C11.2444215,12.4609205 11.7887202,11.8560068 11.7887202,11.4589162 C11.7887202,10.9640993 11.0093835,10.9640993 10.0692313,10.9640993 C9.11794581,10.9640993 8.35097957,10.9640993 8.35097957,11.4589162 C8.35097957,11.8560068 8.87053734,12.4609205 9.59915527,12.6464769 L9.59915527,13.3392206 C9.59915527,13.7474445 9.27876131,14.0690756 8.88167073,14.0690756 C8.66024015,14.0690756 8.46107634,13.9824826 8.32500168,13.8229041 C8.16418618,13.6237403 7.86729603,13.5989995 7.66936926,13.759815 C7.47267953,13.9330009 7.45907206,14.2311281 7.62112461,14.4154474 C7.93038519,14.7865601 8.3868538,14.9968573 8.88167073,14.9968573 C9.33937638,14.9968573 9.75997077,14.8001676 10.0692313,14.490907 C10.3673585,14.8001676 10.7867159,14.9968573 11.256792,14.9968573 C11.7404755,14.9968573 12.1969441,14.7865601 12.5062047,14.4154474 Z" id="Combined-Shape"></path></g></g></svg>');
}

#publish {
    background-image: url('data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5535 2.49392C12.4114 2.33852 12.2106 2.25 12 2.25C11.7894 2.25 11.5886 2.33852 11.4465 2.49392L7.44648 6.86892C7.16698 7.17462 7.18822 7.64902 7.49392 7.92852C7.79963 8.20802 8.27402 8.18678 8.55352 7.88108L11.25 4.9318V16C11.25 16.4142 11.5858 16.75 12 16.75C12.4142 16.75 12.75 16.4142 12.75 16V4.9318L15.4465 7.88108C15.726 8.18678 16.2004 8.20802 16.5061 7.92852C16.8118 7.64902 16.833 7.17462 16.5535 6.86892L12.5535 2.49392Z" fill="%23888888"/><path d="M3.75 15C3.75 14.5858 3.41422 14.25 3 14.25C2.58579 14.25 2.25 14.5858 2.25 15V15.0549C2.24998 16.4225 2.24996 17.5248 2.36652 18.3918C2.48754 19.2919 2.74643 20.0497 3.34835 20.6516C3.95027 21.2536 4.70814 21.5125 5.60825 21.6335C6.47522 21.75 7.57754 21.75 8.94513 21.75H15.0549C16.4225 21.75 17.5248 21.75 18.3918 21.6335C19.2919 21.5125 20.0497 21.2536 20.6517 20.6516C21.2536 20.0497 21.5125 19.2919 21.6335 18.3918C21.75 17.5248 21.75 16.4225 21.75 15.0549V15C21.75 14.5858 21.4142 14.25 21 14.25C20.5858 14.25 20.25 14.5858 20.25 15C20.25 16.4354 20.2484 17.4365 20.1469 18.1919C20.0482 18.9257 19.8678 19.3142 19.591 19.591C19.3142 19.8678 18.9257 20.0482 18.1919 20.1469C17.4365 20.2484 16.4354 20.25 15 20.25H9C7.56459 20.25 6.56347 20.2484 5.80812 20.1469C5.07435 20.0482 4.68577 19.8678 4.40901 19.591C4.13225 19.3142 3.9518 18.9257 3.85315 18.1919C3.75159 17.4365 3.75 16.4354 3.75 15Z" fill="%23888888"/></svg>');
    /* width: 30px !important;
    height: 30px !important;
    margin: 3px !important;
    margin-bottom: 1.5px !important;
    margin-top: 2.5px !important; */
    /* margin-left: 4px !important; */
}

/* #buttondiv {
    position: absolute;
    right: 33.5px;
    bottom: 232px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
} */

#createmode, #publish > hover {
    opacity: 0.55;
}

#createmodebg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.82);
    z-index: 999999;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: black;
    user-select: none; */
}

.hidden {
    display: none;
}

/* #choosespritetext {
    margin-top: 25px;
    margin-bottom: 28px;
}

#newentityisland {
    position: fixed;
    justify-self: center;
    width: min(80%, 480px);
    height: min(80%, 480px);
    background: #f0f0f0;
    border-radius: 14px;
}

.proteststrikefont {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-style: normal;
}

hr {
    margin-left: 40%;
    margin-right: 40%;
} */

.spriteworkspacebutton {
    position: fixed;
    background-color: rgba(48, 48, 48, 0);
    border: none;
    /* opacity: 0.4; */
    /* transition: opacity 0.2s; */
    /* aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
    border-radius: 6px;
    position: fixed;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-bottom: -15px; */
    z-index: 99999;
    font-size: 20px;
    line-height: 1em;
    padding: 0px;
    /* width: 82px;
    height: 82px; */
    /* aspect-ratio: 1 / 1; */
    text-align: center;
    font-size: 70px;
    transform: translate(-50%, 0); 
    user-select: none;
}

.spriteworkspaceimg {
    width: 70px;
    height: 70px;
    margin: -5px;
    user-select: none;
    -webkit-user-drag: none;
}

.spriteworkspacelabel {
    margin: -20px;
    font-size: 20px;
    user-select: none;
}

.bigspriteworkspacelabel {
    font-size: 42px;
    font-family: sans-serif;
    user-select: none;
}

.blocklyTreeLabel {
    cursor: default;
    font: 2.2vh sans-serif;
    padding: 0 0.6vh;
    vertical-align: middle;
}

.blocklyTreeIcon {
    background-image: url(https://blockly-demo.appspot.com/static/media/sprites.png);
    height: 1.6vh;
    vertical-align: middle;
    visibility: hidden;
    width: 1.6vh;
}

.blocklyTreeRow {
    height: 3vh;
    line-height: 3vh;
    margin-bottom: 0.34vh;
    padding-right: 1.2vh;
    white-space: nowrap;
    border-left-width: 1.1vh !important;
}

/* .blocklyTreeLabel {
    font-size: 2.2vh;
    padding: 0 0.6vh;
    align-self: center;
}

.blocklyTreeIcon {
    width: 1.6vh;
}

.blocklyTreeRow {
    height: 3vh;
    line-height: 0;
    border-left-width: 1vh !important;
} */

.loginWindow {
    width: 100vw;
    height: 100vh;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.blocklyWidgetDiv {
    z-index: auto !important;
}

.blocklyFlyoutButton {
    fill: #37823c;
}

#messagetext {
    color: white;
    z-index: 10000000;
    font-size: 4.72vh;/*42px*/
    font-family: sans-serif;
    position: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 6vh;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}